@use './mixin' as *;

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000;
    @include body;
}

main {

}

footer {
    margin-top: auto;
}

button {
    user-select: none;
}

.pattern {
    position: relative;
    overflow: hidden;
    
    &::after {
        content: '';
        z-index: -1;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../../assets/images/patterns/pattern.png');
    }
}

