@use '../../assets/styles/base/mixin' as *;

.accordion {
    border-radius: 16rem;
    border: 1rem solid  #1D2C45;
    background: rgba(15, 23, 42, 0.60);
    backdrop-filter: blur(20rem);

    &.open {
        .header {
            &::after {
                -webkit-mask-image: url('../../assets/images/icons/accordion-open.svg');
                mask-image: url('../../assets/images/icons/accordion-open.svg');
            }
        }

        .body {
            padding: 20rem;
            padding-top: 0;
            height: auto;
            opacity: 1;
        }
    }

    .header {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20rem;
        user-select: none;
        gap: 20rem;

        &::after {
            content: '';
            display: block;
            -webkit-mask-image: url('../../assets/images/icons/accordion-close.svg');
            mask-image: url('../../assets/images/icons/accordion-close.svg');
            background-color: currentColor;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            mask-position: center;
            -webkit-mask-size: contain;
            mask-size: contain;
            min-width: 18rem;
            min-height: 18rem;
            width: 18rem;
            height: 18rem;
            transition: all 0.3s ease;

            @include vp-768 {
                width: 24rem;
                height: 24rem;
            }
        }
    }

    .body {
        padding: 0 20rem;
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: all 0.3s linear;
    }
}
